title {
  font-family: 'Amatic SC', cursive;
}
  
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #FFFFFF;
} 

 h1 {
  color: rgb(172, 242, 187);
  text-align: center;
  text-anchor: middle;
  font-family: 'Amatic SC', cursive;
}
h2 {
  color: rgb(172, 242, 187);
  text-align: center;
  text-anchor: middle;
  font-family: 'Amatic SC', cursive;
}
div.backImg {
  background: url("/images/aleksandr-ledogorov-310150-unsplash.jpg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
}