body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
 

}
 p {
   color: rgb(16, 94, 33);
 
 } 
 h1 {
  color: rgb(16, 94, 33);

  border-color: blueviolet;

}
div.backImg {
  background: url("/images/aleksandr-ledogorov-310150-unsplash.jpg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
}