<h1>CURRENT MOOD INDEX hbs</h1>
<h1>{{username}} how are you feeling right now?</h1>
<h1>select 2. If you need more then 2 mood selectors you may be feeling confused, so select that as one of your two moods.</h1>

<div>
    <select name="Mood" multiple size="2"></select>
    <td>
        <tr>{{currentMood.mood}}</li>
            <tr>{{CurrentMood.define}}</li>
    </td>
</div>
<button class="btn">
    <a href="/users/{{id}}">Current Mood Selected</a>