<h1>INDEX hbs</h1>
<h1>Enter the Den</h1>
<h1>Zen Members</h1>

<div>
  {{#each users}}
    <li><a href="/users/{{_id}}" >{{username}}</a></li>
    <li>{{current_mood}}</li>
    <li>{{mood_goal}}</li>
    
  {{/each}}
</div>

<button class="btn">
    <a href="users/new">Become a member</a>
<button class="btn">
    <a href="users/guest">Enter the Den as a Guest</a>