<h1>NEW hbs</h1>
<h1>Create a New User</h1>
<form method="POST" action="/users">
  <div>
    <label for="name">Zen Den Member Name</label>
    <input type="text" name="name">
  </div>
  <div>
    <label for="tagLine">What's your moto?</label>
    <input type="text" name="tagLine">
  </div>
  <div>
    <label for="email">Enter a valid email</label>
    <input type="text" name="email">
  </div>
  <div>
    <label for="profile">A little about yourself</label>
    <input type="text" name="profile">
  </div>

  <button type="submit" <a href="/users">
    </a>New User</button>
</form>

<a href="/users">cancel</a>