<h1>Create a New User</h1>
<form method="POST" action="/users">
  <div>
    <label for="name">Zen Den Member</label>
    <input type="text" name="name">
  </div>
  <div>
    <label for="current_mood">Current Mood</label>
    <input type="text" name="current_mood">
  </div>
  <div>
    <label for="mood_goal">Mood Goal</label>
    <input type="text" name="mood_goal">
  </div>
  
  <button type="submit">New User</button>
</form>

<a href="/user">Back profile</a>
